*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  padding: 0;
  margin: 0;
  
}



button {
  font: inherit;
}

img {
  width: 100%;
}


